/*  
    @media screen and (max-width: 768px) {}
    @media screen and (min-width:769px) and (max-width:991px) {}
    @media screen and (min-width: 992px) {}
*/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    display: inline-block;
}

.wrapper {
    height: 100vh;
    width: 100%;
    padding: 20px 0;
    background-image: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

.display-flex {
    display: flex;
}

/* User container */

.user-container {
    align-items: center;
    background-color: #e7e7e7;
    height: 75px;
    justify-content: space-between;
}

.img-profile img {
    width: 15%;
    padding: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.img-profile span {
    vertical-align: middle;
}

.user-icons {
    padding-right: 15px;
}

/* MAIN */

main {
    height: calc( 100% - 10px);
    width: 100%;
}

/* Container-left */

.container-left {
    width: 30%;
}

/* Servin Container */

.servin-container {
    align-items: center;
    padding: 10px;
    background-color: #82d6fb;
}

.bell-slash {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
}

.bell-slash i {
    color: #82d6fb;
}

.servin-text {
    padding-left: 10px;
}

/* Finder */

.finder-container {
    background-color: #f9f9f9;
    padding: 5px;
}

.finder {
    background-color: white;
}

/* Contacts */

.contact-container {
    padding: 10px;
    border-bottom: 3px solid #f9f9f9;
}

.contact img {
    width: 15%;
    border-radius: 50%;
}

.contact span {
    vertical-align: top;
    padding-left: 10px;
}

/* Container-right */

.container-right {
    width: 70%;
}