/*  
    @media screen and (max-width: 768px) {}
    @media screen and (min-width:769px) and (max-width:991px) {}
    @media screen and (min-width: 992px) {}
*/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    display: inline-block;
}

.wrapper {
    height: 100vh;
    width: 100%;
    padding: 20px 0;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

.display-flex {
    display: flex;
}

/* HEADER */

header {
    height: 80px;
    overflow: hidden;
}

/* Header-left */

.header-left {
    float: left;
    height: 100%;
    /* Width stesso di nav */
    width: 350px;
    overflow: hidden;
    padding: 10px;
    /* display-flex */
    align-items: center;
    /* test */
    border: 1px solid black;
}



header .user-profile img {
    width: 15%;
    border-radius: 50%;
    vertical-align: middle;
}

header .user-profile span {
    vertical-align: middle;
}

/* Header-right */

.header-right {
    float: left;
    height: 100%;
    /* Width stesso di main-right */
    width: calc( 100% - 350px);
    overflow: hidden;
    /* test */
    border: 1px solid black;
}

/* MAIN */

main {
    height: calc( 100% - 80px);
    width: 100%;
}

nav {
    float: left;
    width: 350px;
    height: 100%;
    overflow-y: auto;
    /* test */
    border: 1px solid black;
}

.main-right {
    float: left;
    width: calc( 100% - 350px);
    height: 100%;
    overflow-y: auto;
    /* test */
    border: 1px solid black;
}

.chat-container {
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
    /* test */
    border: 1px solid black;
}

.write-container {
    width: 100%;
    height: 80px;
    /* test */
    border: 1px solid black;
}