<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Title</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

</head>

<body>

    <!-- Vue Container -->
    <div id="root">

        <!-- Wrapper -->
        <div class="wrapper">

            <!-- Container -->
            <div class="container">

                <!-- MAIN -->
                <main class=" display-flex">

                    <!-- Container-left -->
                    <div class="container-left">

                        <!-- Header contact -->
                        <div class="header-contact display-flex">
                            <div class="img-profile">
                                <img src="img/avatar_io.jpg" alt="">
                                <span>Nome utente</span>
                            </div>
                            <div class="header-user-icons">
                                <i>ICONS</i>
                            </div>
                        </div>
                        <!-- end Header contact -->

                        <!-- Servin Container  -->
                        <div class="servin-container display-flex">
                            <div class="bell-slash">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div class="servin-text">
                                testo
                            </div>
                        </div>
                        <!-- end Servin Container  -->

                        <!-- Finder -->
                        <div class="finder-container">

                            <div class="finder">
                                test
                            </div>

                        </div>
                        <!-- end Finder -->

                        <!-- Contacts -->
                        <div class="contact-container">

                            <!-- Contact -->
                            <div class="contact">
                                <ul v-if="contacts.length">
                                    <li v-for="(contact, index) in contacts"
                                        v-bind:class="{ 'contact-view': contact.visible}"
                                        v-on:click="thisChat(index)">
                                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                                        <span>{{ contact.name }}</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end Contact -->

                        </div>
                        <!-- end Contacts -->

                    </div>
                    <!-- end Container-left -->

                    <!-- Container-right -->
                    <div class="container-right">

                        <!-- Header contact -->
                        <div class="header-contact display-flex"
                            v-for="contact in contacts"
                            v-if="contact.visible == true">

                            <div class="img-profile">
                                <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                                <span>{{contact.name}}</span>
                            </div>
                            <div class="header-user-icons">
                                <i>ICONS</i>
                            </div>

                        </div>
                        <!-- end Header contact -->

                        <!-- Messages -->
                        <div class="messages"
                            v-for="contact in contacts"
                            v-if="contact.visible == true">

                            <!-- Messsage Container -->
                            <div class="message-container"
                                v-for="message in contact.messages">

                                <!-- Mex Received -->
                                <div class="clearfix">
                                    <div class="message-received message-padding"
                                        v-if="message.status == 'received'">
                                        {{message.text}}
                                        <span>{{message.date}}</span>
                                    </div>
                                </div>
                                <!-- end Mex Received -->

                                <!-- Mex Send -->
                                <div class="clearfix">
                                    <div class="message-sent message-padding"
                                        v-if="message.status == 'sent'">
                                        {{message.text}}
                                        <span>{{message.date}}</span>
                                    </div>
                                </div>
                                <!-- end Mex Send -->

                            </div>
                            <!-- end Messsage Container -->


                        </div>
                        <!-- end  Messages -->

                    </div>
                    <!-- end Container-right -->

                </main>
                <!-- end MAIN -->

            </div>
            <!-- end Container -->

        </div>
        <!-- end Wrapper -->

    </div>
    <!-- end Vue Container -->

    <!-- Script js,Jquery and Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>