<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Title</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

</head>

<body>

    <!-- Vue Container -->
    <div id="root">

        <!-- Wrapper -->
        <div class="wrapper">

            <!-- Container -->
            <div class="container">

                <!-- MAIN -->
                <main class=" display-flex">

                    <!-- Container-left -->
                    <div class="container-left display-flex">

                        <!-- Header contact -->
                        <div class="header-contact display-flex">
                            <div class="img-profile">
                                <img src="img/avatar_io.jpg" alt="">
                                <span>Nome utente</span>
                            </div>
                            <div class="header-user-icons">
                                <i>ICONS</i>
                            </div>
                        </div>
                        <!-- end Header contact -->

                        <!-- Notifications  -->
                        <div class="notifications-container display-flex">
                            <div class="bell">
                                <i class="fas fa-bell-slash" aria-hidden="true"></i>
                            </div>
                            <div class="notifications-text">
                                o
                            </div>
                        </div>
                        <!-- end Notifications  -->

                        <!-- Finder -->
                        <div class="finder-container display-flex">

                            <label for="cont-finder">
                                <i>icon find</i>
                            </label>

                            <input id="cont-finder" type="text" placeholder="">

                        </div>
                        <!-- end Finder -->

                        <!-- Contacts -->
                        <div class="contact-container">

                            <!-- Contact -->
                            <div class="contact"
                                v-for="(contact, index) in contacts"
                                v-bind:class="{active : index == activeContactIndex}"
                                v-on:click="{activeContactIndex = index}">
                                <!-- TODO: inserisci v-if se array contiene contatti -->
                                <ul>
                                    <li>
                                        <img
                                            v-bind:src="'img/avatar'+ contact.avatar +'.jpg'"
                                            v-bind:alt="'Foto di ' + contact.name">
                                        <span>{{contact.name}}</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end Contact -->

                        </div>
                        <!-- end Contacts -->

                    </div>
                    <!-- end Container-left -->

                    <!-- Container-right -->
                    <div class="container-right display-flex">

                        <!-- Header contact -->
                        <div class="header-contact display-flex">

                            <div class="img-profile">
                                <img v-bind:src="'img/avatar'+ contacts[activeContactIndex].avatar +'.jpg'"
                                    v-bind:alt="'Foto di ' + contacts[activeContactIndex].name">
                                <span>{{contacts[activeContactIndex].name}}</span>
                            </div>
                            <div class="header-user-icons">
                                <i>ICONS</i>
                            </div>

                        </div>
                        <!-- end Header contact -->

                        <!-- Messages -->
                        <div class="messages">

                            <!-- Messsage Container -->
                            <div class="message-container"
                                v-for="message in contacts[activeContactIndex].messages">

                                <!-- Mex Received -->
                                <div class="clearfix">
                                    <div class="message-received message-padding"
                                        v-if="message.status == 'received'">
                                        {{message.text}}
                                        <span class="message-date">{{message.date}}</span>
                                    </div>
                                </div>
                                <!-- end Mex Received -->

                                <!-- Mex Send -->
                                <div class="clearfix">
                                    <div class="message-sent message-padding"
                                        v-if="message.status == 'sent'">
                                        {{message.text}}
                                        <span class="message-date">{{message.date}}</span>
                                    </div>
                                </div>
                                <!-- end Mex Send -->

                            </div>
                            <!-- end Messsage Container -->


                        </div>
                        <!-- end  Messages -->

                        <!-- Message actions -->
                        <div class="message-actions display-flex">
                            <div class="smile">
                                icon smile
                            </div>
                            <div class="send-message-input">
                                <input type="text" placeholder="message"
                                    v-model="pushText"
                                    v-on:keyup.enter="insertNewMessage">
                            </div>

                            <div class="microphone">
                                icon phone
                            </div>
                        </div>
                        <!-- end Messsage actions -->

                    </div>
                    <!-- end Container-right -->

                </main>
                <!-- end MAIN -->

            </div>
            <!-- end Container -->

        </div>
        <!-- end Wrapper -->

    </div>
    <!-- end Vue Container -->

    <!-- Script js,Jquery,Vue and dayjs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

</body>

</html>